{
  "discord_token": "",
  "prefix": "_",
  "owner_id": "591558773953396739",
  "presence_type": "STREAMING",
  "channel_id": "818841257509781545",
  "shuffle": false,
  "pause_on_empty": true,
  "channel_leave_on_empty": false,
  "soundcloud_client_id": "",
  "youtube_cookie": ""
}
